<%- include('./partials/header') -%>
<div class="container">
    <%- include('./partials/messages') -%>

    <div class="row">
        <div class="col-xl-12 col-sm-12 ">
            <div class="cart-body text-white p-3 bg-primary text-center rounded">
                Total Products
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2 col-sm-2">
            <%- include('./partials/sidebar') -%>
        </div>
        <div class="col-xl-10 col-sm-10 d-flex flex-wrap flex-wrap align-items-center">
        <div class="col-xl-12 col-sm-12 text-center">
            <div class="card-body">
                <div class="cart-body text-white p-3 bg-success text-center rounded">
                    In Stock
                </div>
            </div>
            <a href="/product/instock">
                View Details
            </a>
        </div>
    </div>
</div>

<%- include('./partials/footer') -%>
