<%- include('./partials/header') -%>
<div class="container">
  <h1 class="text-center">Login</h1>
  <%- include('./partials/messages') -%>
<form accept="/login" method="POST">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
</div>
<%- include('./partials/footer') -%>