.img-fluid{
    height: 50px;
}
.table td, .table th {
vertical-align: baseline;
text-align: center;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:gray;
    color: white;
    text-align: center;
}