<%- include('secondary/header') -%>

    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>George</td>
                <td>Manager</td>
                <td>$10000</td>
                <td>
                    <a href="#" class="btn btn-primary">
                        <span>Edit</span>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <span>Delete</span>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
<%- include('secondary/footer') -%>
