<%- include('partials/header') -%>
<div class="container">
    <%- include('partials/messages') -%>
    <h1 class="text-center">Dashboard</h1>
    <h2 class="text-success text-center ">Hello <%= currentUser.name %> !</p>
</div>
<%- include('partials/footer') -%>