<%- include('partials/header') -%>
    <div class="container m-auto text-center w-50">
        <h1>Home page</h1>
        <p class="text-primary">Dont have an Account yet?
            <a class="nav-link text-danger" href="/login">Login</a>
        </p>
        <p class="text-primary">Have an Account yet?
            <a class="nav-link text-danger" href="/signup">Signup</a>
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos repellat ratione neque? Fugit, deserunt corporis magnam quaerat culpa omnis ipsum vel facilis eligendi animi veniam tempore excepturi quisquam nihil necessitatibus.
        </p>
    </div>
<%- include('partials/footer') -%>