<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <h1 class="text-center">All Images</h1>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand text-center m-auto" href="/upload">Go to Upload File</a>
      </nav>
      <div class="container">
            <div class="row">
                <% images.forEach(image => { %>
                <div class="col-md-5 m-auto text-center">
                    <img style="border: 3px solid grey;" class="mx-4 my-3 p-1" height="250" width="250" src="<%= image.imageUrl %>">
                    <form style="display: inline;" action="/delete/<%= image.id %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button style="cursor: pointer;" type="submit"
                            class="btn btn-danger float-none mx-4 px-5">Delete</button>
                    </form>
                </div>
                <% }) %>
            </div>
        </div>
</body>
</html>