<% if(success_message && success_message!=''){ %>
    <div class="alert alert-success">
        <%= success_message %>
    </div>
<% }else if(error_message && success_message!=''){ %>
    <div class="alert alert-error">
        <%= error_message %>
    </div>
<% } %>