<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
       <h1 class="text-center">Search your movie here</h1>
       <form action="/results" method="GET">
        <div class="form-group">
          <label for="search">Movie</label>
          <input type="text" class="form-control mb-2" name="search" id="search">
          <button type="submit" class="btn btn-primary btn-block ">Search Movie</button>
        </div>
    </form>

    <div class="row text-center">
        <div class="col-md-12">
           <p class="text-success">Hello this is my express web based scraper.</p> 
        </div>
        <div class="col-md-12">
            <p class="text-success">If you want to see information for film please copy link from <a class="text-primary" href="https://www.themoviedb.org/movie/587807-tom-jerry">The Movie Database</a> </p>
        </div>
        <div class="col-md-12">
            <p class="text-success">Thanks for understanding.</p>
        </div>
        <div class="col-md-12">
            <p class="text-danger">Example:https://www.themoviedb.org/movie/458576-monster-hunter</p>
        </div>
    </div>
</div>
</body>
</html>