<%- include('../partials/header') -%>
<% if(currentUser){ %>
  <h1 class="text-center">You are in your account</h1>
  <h5 class="text-center">Go to 
    <a href="/dashboard">Dashboard</a>
  </span>
<% } else { %>
  <div class="container">
    <h1 class="text-center">Login</h1>
    <p class="text-center text-primary">
      Test User
      <span class="text-success">Email: stu1901321112@uni-plovdiv.bg</span>
      <span class="text-success">Password: 123456</span>
    </p>
    <%- include('../partials/messages') -%>
  <form accept="/login" method="POST">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      </div>
      
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
  </div>
<% } %>
<%- include('../partials/footer') -%>