<form action="/search/product" method="GET" class="mb-2 w-100">
  <h1 class="text-center">Search System</h1>
  <div class="form-group">
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Search"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
